@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    background: linear-gradient(to bottom, #7798a9 0%, #4e4260 100%);
}

.videoInfo {
    color: #FFFFFF;
}

@media (min-height: 320px) {
    .ui.footer.form-page {
        /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.logo {
    margin-left: 25px;
    color:white;
    user-select: none;
}

.apollo {
    font-size: 1.4em;
    font-weight:bold;
}

.settings {
    position:absolute;
    right:40px;
    top: 20px;
    font-size: 1.1em;
    font-weight:bold;
    color:white;
}

.settings:hover {
    color: #2d3957;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

.player {
    margin: 100px 100px 0;
}


.audio-player {
    background: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row;
}

.audio-player .album-image {
    min-height: 100px;
    width: 130px;
    background-size: cover;
}
.audio-player .player-controls {
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    flex: 3;
}
.audio-player .player-controls progress {
    width: 90%;
    background-color: blue;
}
.audio-player .player-controls progress[value] {
    -webkit-appearance: none;
    background-color: white;
    height: 4px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 4px;
    height: 10px;
    border: 1px solid #dfdfdf;
    color: blue;
}
.audio-player .player-controls progress::-webkit-progress-value {
    background-color: #3ca877;
}
.audio-player .player-controls p {
    font-size: 1.6rem;
}
.audio-player .action-btn {
    font-size:3em;
    color:black;
    margin: 3.4rem 0 2rem 2.3rem;
}

.audio-player .action-btn {
    font-size:3em;
    color:black;
    margin-right: 30px;
    margin-top: 50px;
    cursor: pointer;
}

.audio-player #panel-btn {
    font-size:1.5em;
    color:black;
    margin-right: 3px;
    margin-top: 10px;
    cursor: pointer;
}


.player-controls .headline {
    color: black;
    font-size: 1.3em;
}

.search-button {
    padding: 0 2em !important;
    min-width:124px;

}

.download-progress {
    margin-top: 0.1em;
}

.download-progress .label {
    color:white !important;
}

.white {
    color: white !important;
    margin-top: 0.9em !important;
}

.start-time {
    float: left;
    left: 15px;
}

.end-time {
    float: right;
    position: relative;
    right: 15px;
}

.time {
    top: 5px;
    color: black;
    position: relative;
}

.panel {
    width: 100%;
    background-color: white;
}

.panel > .intervales {
    padding-left: 45% ;
}

#player {
    display: none;
}
